/**
 *
 * Footer
 *
 */


#footer 		{
	background: #f0f0f0;
	padding:1rem 0 0.5rem;
	border-top:1px solid #ececec;
	h3{
		font-size: $fz02;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
	p, a{
	    font-size: $fz06;
	    font-weight: 400;
	    color: #999;
	}
	.footer{
		margin-bottom: 1rem;
		li{
			padding-left:1rem;
			margin-bottom: 0.5rem;
		}
	}
}


/*=============================================*/
// Max Width 480px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (max-width: 480px) {

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (max-width: 640px) {

} /////////////// End ///////////////



/*=============================================*/
// Min Width 641px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 641px) {

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 768px) {

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 1025px) {

} /////////////// End ///////////////
