/**
 *
 * Template Header
 *
 */


#header {
    background: #222;
    padding-top:1rem;
    color: #fff;
    h1{
        font-size: $fz04;
    	a{

			color: #fff;
    	}
    }
}


/*=============================================*/
// Max Width 480px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (max-width: 480px) {

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (max-width: 640px) {

} /////////////// End ///////////////



/*=============================================*/
// Min Width 641px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 641px) {

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 768px) {

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px
/*=============================================*/

/* Portrait and Landscape */
@media only screen
    and (min-width: 1025px) {

} /////////////// End ///////////////
