/**
 *
 * Common styles
 *
 */


/*----------  Layout styles  ----------*/

.section{
	min-height: 400px;
    position:relative;
}
.section-header{
    h1{
        margin-bottom: 1.5rem;
        a{
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
}
.section-content{
    form{
        margin-top: 0.5rem;
    }
    h2{
        i{
            font-size: $fz03;
            color: $theme-clr01;
            margin-right: 0.5rem;
        }
    }
}
.section-preloader{
    position: absolute;
    width:100%;
    top:0;
    bottom: 0;
    background:#fff;
    z-index:9999; 
    div{
        display: inline-block;
        position:absolute;
        top:50%;
        left: 50%;
        margin-top: -1.5rem;
        margin-right: -1.5rem;
    }
    i{
        font-size: 2rem;
        color: #888;
    }
}




/*----------  Model window  ----------*/
.model{
    
}
.model-header{
    padding:1rem 1.5rem;
    background:#f1f1f1;
    h1, h2, h3{
        color: #555;
        font-family: $fontM;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: $fz03;
    }
}
.model-content{
    padding:1.5rem;
    position:relative;
}
.model-footer{
    padding:0 1.5rem;
}



/*----------  Messages and Errors  ----------*/
.message{
    padding: 1rem 1rem 0.5rem; 
    @include border-radius(5px);
    &.general{      
        background: #faf2cc; 
    }
    &.error{      
        background:#F60;
        background:rgba(255,102,0, 0.1);
        border:1px solid rgba(255,102,0, 0.4);
    }
    &.success{      
        background:#093;
        background:rgba(0,153,51, 0.1);
        border:1px solid rgba(0,153,51, 0.4);
    }
}


/*=============================================*/
// Max Width 480px 
/*=============================================*/

/* Portrait and Landscape */ 
@media only screen 
    and (max-width: 480px) {  

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 640px) {


/*----------  Model window  ----------*/
.model-header{
    padding:1rem 1rem;
}
.model-content{
    padding:1rem;
} 
.model-footer{
    padding:0 1rem;
} 

} /////////////// End ///////////////




/*=============================================*/
// Min Width 641px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 641px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 768px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 1025px) {

} /////////////// End ///////////////



