/**
 *
 * Footer
 *
 */

#footer 		{
	background: #8d0519;
	margin-top:1.5rem; 
	padding:1.5rem 0 2rem;
	p, h3, a{
	    color: #fff;
	    font-family:$font01;
	}
	a{
	    font-size: 13px;
	}
	h3{
		font-size: $fz02;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
	.footer{
		margin-bottom: 1rem; 
		li{
			padding-left:1rem;
			margin-bottom: 0.5rem;
			background:url(../images/theme/arrow.jpg) center left no-repeat;
		}
	}
	#footer-contact{
		p{
			margin-top: 0.5rem;
			font-size: $fz05;
		}
	}
	.social-links{
		li{
			padding-left:0;
			background:#fff;
			display: inline-block;
			width:40px;
			height: 40px;
			@include border-radius(50%);
			text-align: center;
			line-height: 40px;
			i{
				color: $theme-clr01;
				font-size: $fz03;
			}
		}
	}
}