/**
 *
 * HTML element reset and framwork overides
 *
 */


*{
    padding:0; 
    margin:0;
}
html {
    font-size:20px; 
}
h1 {
    font-size:$fz01; 
    color:#333;  
    font-family:$font01; 
    margin:0 0 1rem;  
    font-weight:400; 
    line-height:1.3;
    @include text-shadow(0 1px 1px rgba(0,0,0,0.01)); 
}
h2 {
    font-size:$fz02; 
    color:#333; 
    font-family:$font01;
    margin:0 0 0.5rem; 
    font-weight:400; 
    line-height:1.3;
}
h3 {
    font-size:$fz03; 
    color:#444; 
    font-family:$font01;
    margin:0 0 0.3rem; 
    font-weight:400; 
    line-height:1.3;
}
h4 {
    font-size:$fz04; 
    font-family:$fontM;
    margin:0 0 0.5rem; 
    font-weight:400; 
    line-height:1.3;
    color: #555;
}
h5 {
    font-size:$fzM; 
    font-family:$fontM; 
    margin:0 0 0.5rem; 
    font-weight:400; 
    line-height:1.3;
}
p {
    font-size:$fzM; 
    font-family:$fontM; 
    color:$fcM; 
    margin:0 0 0.5rem; 
    font-weight:300; 
    line-height:1.6; 
}
a {
    outline:none; 
    color:$link-clr01; 
    text-decoration:none;
    background: transparent; 
    line-height:1;
    &:hover{
        color:$link-clr01; 
    }
    img{
        border:none;
    }
}
img {
    border: 0; 
    font-size:$fzM; 
    color:$fcM;  
    font-style:italic; 
    max-width:100%;  
}
ul {
    margin:0; 
    padding:0; 
    line-height:1;
    list-style: none;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    li{
        ul{
            margin: 0
        }
    }
}
table{
    width:100%;
}
hr {
    height: 1px; 
    background:#f4f4f4; 
    border:0; 
    margin:1.5rem 0; 
}
map {
    display: none;
}
area{
    border:#002166 1px solid;
}
body {
    font-family:$fontM; 
    font-size: $fzM;
    line-height:1; 
    height: auto !important; 
    @include transitionall(0.3s); 
}


/*----------  Chromeframe   ----------*/
.chromeframe {
    padding:30px 20px; 
    border: 2px solid #FF6B12;  
    margin:2% 5%; 
    font-size:20px; 
    text-align:center;
    background:#ffe5d6;
    position:relative;
    z-index:200;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
} 


/*----------   Custom Helper Classes   ----------*/
.small-text{
    font-size: $fz06;
}
.strong {
    font-weight:400
}
.ex-strong{
    font-weight:bold
}
.italic {
    font-style:italic
}
.underline {
    text-decoration:underline
}
.text-right {
    text-align:right;
}
.text-left {
    text-align:left;
}
.text-center {
    text-align:center;
}
.hide, .hidden {
    display: none;
}
.show {
    display: block;
}
.fixed {
    position: fixed;
}




/*----------  Framework Overides  ----------*/


// Framework row
.row{
    max-width:50rem;
}


// buttons
button, .button {
    background:$btn-clr01; 
    font-family:$fontM; 
    font-size:$fzM;
    padding:0.5rem 1rem;
    margin-bottom: 0;
    font-weight: 200;
    color: #fff;
    @include border-radius(2px);
    &:hover, &:focus{
        background:darken($btn-clr01, 10%);
    }
}

// Panel 
.panel{
    border:1px solid #f1f1f1;
    border-left:0.2rem solid $clr03;
    background:#fff;
    font-style: italic;
    margin:0.5rem 0;
}

// grid
.columns{
    &.no-padding{
        padding-left: 0;
        padding-right: 0;
    } 
    &.no-padding-left{
        padding-left: 0;
    }
    &.no-padding-right{ 
        padding-right: 0;
    }
}

// tables
table{
    border:0;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 0;
    border-right: 1px solid #ececec;
    thead{
        tr{
            th{

            }
        }
    }
    tr{
        border-top: 1px solid #ececec;
        &:nth-of-type(even) {
            background:none;
        }
        &:first-child{
            td{
                border-top: 1px solid #ececec;
            }
        }
        td{
            border-left: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            font-size: $fz06;
        }
    }
}


// Reveal Model Styles
.reveal-modal {
    position:fixed;
    z-index:10000 !important;
    @include border-radius(2px);
    border:0;
    top:15% !important;
    .close-reveal-modal{
        font-size:1.3rem;
        top:1rem;
        right: 1rem;
        background:darken(#f0f0f0, 5%);
        @include border-radius(100%);
        width:1.4rem;
        height: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
    }
}
.reveal-modal-bg {
    position:fixed;
    z-index:900 !important;
}



/*----------  Plugin Overides  ----------*/







/*=============================================*/
// Max Width 480px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 480px) {  

h1 {
    font-size:$fz02;  
    line-height:1.4;
}
h2 {
    font-size:$fz03;  
    line-height:1.2;
}
h3 {
    font-size:$fz04;  
    line-height:1.2;
}
h4 {
    font-size:$fz05;  
    line-height:1.2;
}
h5 {
    font-size:$fzM;  
    line-height:1.2;
}
p {
    font-size:$fz06;  
    line-height:1.4;
}

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 640px) {  

// Reveal Model Styles
.reveal-modal {
    //width: 96% !important;
    top: 0 !important;
    overflow: auto;
    .close-reveal-modal{
        right: 1rem;
    }
}


} /////////////// End ///////////////




/*=============================================*/
// Min Width 641px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 641px) {  

.tmp-row {
    @include grid-row();
    @include grid-column(12);
} 

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 768px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 1025px) {

} /////////////// End ///////////////



















