/**
 *
 * Common styles
 *
 */


/*----------  Layout styles  ----------*/
.container{
    max-width:800px;
    margin: 0 0.5rem;
}
.section{
	min-height: 400px;
    padding-top:1rem;
    position:relative;
    h1{
        line-height: 28px;
        padding-left:1.8rem;
        background:url(../images/h1-border.png) no-repeat;
    }
    h2{
        &.sub-heading{
            background:url(../images/h2-border.png) no-repeat;
        }
        a{
            color: red;
            &:hover{
                color: yellow;
            }
        }
    }
    h3{
        i{
            font-size: $fzM;
            margin-right: 0.5rem;
            color: #999;
        }
    }
}

.section-ul{
    margin-bottom: 0.5rem;
    li{
        margin-left: 1rem;
        font-size: $fzM;
        font-weight: 200;
        color: $fcM;
        margin-bottom: 0.2rem;
        line-height: 1.5;
        i{
            font-size: 0.3rem;
            margin-right: 0.6rem;
        }
    }
}


/*----------  Model window  ----------*/
.model{
    
}
.model-header{
    padding:1rem 1.5rem;
    background:#f1f1f1;
    h1, h2, h3{
        color: #555;
        font-family: $fontM;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: $fz03;
    }
}
.model-content{
    padding:1.5rem;
    position:relative;
}
.model-footer{
    padding:0 1.5rem;
}



/*----------  Messages and Errors  ----------*/
.message-general, .message-error, .message-seccess{
    padding: 1rem 1rem 0.5rem; 
    @include border-radius(5px);
}
.message-general{      
    background: #faf2cc; 
}
.message-error{      
    background:#F60;
    background:rgba(255,102,0, 0.1);
    border:1px solid rgba(255,102,0, 0.4);
}
.message-success{      
    background:#093;
    background:rgba(0,153,51, 0.1);
    border:1px solid rgba(0,153,51, 0.4);
}




/*=============================================*/
// Max Width 480px 
/*=============================================*/

/* Portrait and Landscape */ 
@media only screen 
    and (max-width: 480px) {  

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 640px) {

.columns{
    padding-left:0.5rem;
    padding-right:0.5rem;
}  

/*----------  Model window  ----------*/
.model-header{
    padding:1rem 1rem;
}
.model-content{
    padding:1rem;
} 
.model-footer{
    padding:0 1rem;
} 

} /////////////// End ///////////////




/*=============================================*/
// Min Width 641px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 641px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 768px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 1025px) {

} /////////////// End ///////////////

