@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
@mixin text-shadow($text-shadow) {
  -webkit-text-shadow: $text-shadow;
    -moz-text-shadow: $text-shadow;
      -ms-text-shadow: $text-shadow;
          text-shadow: $text-shadow;
}

@mixin transitionall($delay){
  -webkit-transition: all $delay ease;
    -moz-transition: all $delay ease;
      -ms-transition: all $delay ease;
       -o-transition: all $delay ease;
          transition: all $delay ease;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin visibleTransOn(){
    visibility:visible;
    opacity:1;
    transition-delay:0.3s;
}

@mixin visibleTransOff(){
    visibility:hidden;
    opacity:0;
    transition-delay:0.3s;
}