/**
 *
 * Template Header
 *
 */

.top-header{
	h2{
		font-size: $fzM;
		margin-bottom: 0;
		padding:0.5rem 0;
	}
}

/*=============================================*/
// Max Width 480px 
/*=============================================*/

/* Portrait and Landscape */ 
@media only screen 
    and (max-width: 480px) { 

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 640px) { 

} /////////////// End ///////////////



/*=============================================*/
// Min Width 641px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 641px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 768px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 1025px) {

} /////////////// End ///////////////

        
