/**
 *
 * Template Navigation
 *
 */

#navigation{
	ul{
		margin: 0.2rem -0.2rem 0.5rem;
	}
	li{
		float: left;
		width:(100%/6);
		text-align: center;
		line-height: 1;
		a{
			display: inline-block;
			line-height: 1;
			&:hover{
				span{
					display: none;
				}
			}
			img{
				margin-bottom: -6px;
				display: block;
				position: relative;
				z-index: 0;
			}
			span{
				position: relative;
				z-index: 10;
				display: block;
				background:$clr01;
				height: 6px;
				width: 100%; 
			}
		}
	}
}

/*=============================================*/
// Max Width 480px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 480px) { 

} /////////////// End ///////////////




/*=============================================*/
// Max Width 640px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (max-width: 640px) { 

} /////////////// End ///////////////



/*=============================================*/
// Min Width 641px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 641px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 768px 
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 768px) {  

} /////////////// End ///////////////



/*=============================================*/
// Min Width 907px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 907px) {

} /////////////// End ///////////////


/*=============================================*/
// Min Width 1025px     
/*=============================================*/

/* Portrait and Landscape */
@media only screen 
    and (min-width: 1025px) {

} /////////////// End ///////////////

        
