/**
 *
 * Variables
 *
 */


/* Font Famlies */
$fontM		: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font01 	: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font02     : 'Arial', Helvetica Neue, Helvetica, sans-serif;
$font03     : 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$icon-font  : 'FontAwesome'; //  FontAwesome, foundation-icons

/* User Interface Colors */
$fcM  		: #4c4c4c; // main font color

$link-clr01 : #BD3838; // link color
$link-clr02 : #540505; // link color

$clr01 : #FF9A00; // template colors
$clr02 : #006600;
$clr03 : #D8D8D8;

$btn-clr01  : #FF9A00; // template button colors 
$btn-clr02  : #006600;


/*  Font Sizes */	
$fzM 		: 0.7rem;
$fz01 		: 1.4rem;
$fz02 		: 1.2rem;
$fz03 		: 1rem;
$fz04 		: 0.9rem;
$fz05 		: 0.8rem;
$fz06       : 0.65rem;






